@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Top part of body / Text section-->
    <div class="top-body-part bg-image humanoid-image">
        <div class="gamedesign-alinea align-content-center justify-content-center text-center text-white translate-middle">
            <div class="container-fluid">
                <div class="alinea-row-1">
                    <img class="boemerang-logo-alinea" src="~/Assets/Images/BOEMerang-Logo.png" />
                </div>
                <div class="alinea-row-2">
                    <h1 class="game-design-h1 white-text">About</h1><h1 class="game-design-h1 white-text">Me</h1>
                    @*<h1 class="game-design-h1 white-text">Game</h1><h1 class="game-design-h1 white-text">Design</h1>*@
                </div>
                <div class="alinea-row-3">
                    <p>Hi there! I am Liam a game programmer and designer from the Netherlands, currently studying at the Amsterdam University of Applied Sciences for my Bachelor's degree. I always liked programming especially the creative part of it even earlier on. I began making websites and games when I was 14 years old, first in Scratch then in GamemakerStudio and now in Unity. I also sometimes make website in my free time, like the one you are on now! </p><br/><p>I am currently working on growing my portfolio by going on an internship, feel free to contact me if you have a fun project!</p>
                @*<p>Click below to view my portfolio.</p>*@
                    @*<p>I'm a game designer and programmer with a growing portfolio and an upcoming Bachelor's degree in video game design, programming and production.</p><br /><p>Click below to view my portfolio.</p>*@
                </div>
                <div class="alinea-row-4">
                    @*<a class="portfolio-Button" asp-area="" asp-page="/GameDesignPortfolio">Game Design Portfolio</a>*@
                </div>
            </div>
        </div>
    </div>
<!--Projects part of body-->
<!--Projects header-->
<div class="projects-header-container">
    <div class="projects-header-content">
        @*group-projects*@
        <span class="projects-header-title">Projects</span>
        <div class="white-text">
        <span>Click on the tiles to learn more about each project.</span>
        </div>
    </div>    
</div>
<!--Projects content-->
<div class="projects-container">
    <div class="container">
        <div class="projects-section">
            <div class="row">
                <!--Projects content blocks-->
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="projects-content-block-container">
                        <a href=""></a> @*Go to Pong page*@
                        <div class="projects-head-content">
                            <div class="projects-head-content-background" style="background-image: url(/Assets/Images/PongIcon.png)"></div>
                            <div class="projects-content-title-container">
                                <span class="projects-content-title">Online Multiplayer Pong</span>
                            </div>
                        </div>
                        <div class="projects-content-labels-container">
                            <div class="projects-content-labels">
                                <span>C#</span>
                            </div>
                            <div class="projects-content-labels" style="background-color: #bec712ad">
                                <span>Multiplayer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="personal-projects projects-container">

</div>*@
<!--Contact section-->
    <div class="contact contact-bg align-content-center justify-content-center text-center" id="contact">
        <div class="container-fluid">
            <div class="contact-header-row-1">
                <h1 class="contact-header-h1 text-white white-text">Contact</h1>
            </div>
            <div class="contact-row-2">
            <span class="contact-email">Feel free to contact me at: <a href="mailto:Liamvanslingerlandt@gmail.com" class="text-white white-text">Liamvanslingerlandt@gmail.com</a>, I'll respond as fast as possible!</span>
            </div>
            <div class="contact-row-3">
                <a href="https://www.linkedin.com/in/liam-van-slingerlandt-897680257/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="rgb(0, 119, 181)" class="bi bi-linkedin" viewBox="0 0 16 16"><path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" /></svg>
                </a>
                <a href="https://github.com/Boromoi">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="rgb(0, 0, 0)" class="bi bi-github" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" /></svg>
                </a>
                <a href="https://gitlab.fdmci.hva.nl/slingel">
                    <svg height="68" preserveAspectRatio="xMidYMid" viewBox="0 0 256 236" width="73" xmlns="http://www.w3.org/2000/svg"><path d="m128.07485 236.074667 47.104-144.9703622h-94.2080005z" fill="#e24329" /><path d="m128.07485 236.074423-47.1040005-144.970362h-66.0150857z" fill="#fc6d26" /><path d="m14.9558857 91.1044267-14.31405713 44.0551623c-1.3056 4.017981.12434286 8.419961 3.54255238 10.903161l123.89059005 90.012039z" fill="#fca326" /><path d="m14.9558857 91.1045486h66.0150857l-28.3708952-87.31428574c-1.4592-4.49340953-7.8153143-4.49219048-9.2745143 0z" fill="#e24329" /><path d="m128.07485 236.074423 47.104-144.970362h66.015085z" fill="#fc6d26" /><path d="m241.193935 91.1044267 14.314057 44.0551623c1.3056 4.017981-.124342 8.419961-3.542552 10.903161l-123.89059 90.012039z" fill="#fca326" /><path d="m241.193935 91.1045486h-66.015085l28.370895-87.31428574c1.4592-4.49340953 7.815314-4.49219048 9.274514 0z" fill="#e24329" /></svg>
                </a>
                <a href="https://boromoi.itch.io/">
                    @*<svg xmlns="http://www.w3.org/2000/svg" height="68" width="75" viewBox="0 0 245.371 220.736"><path d="M31.99 1.365C21.287 7.72.2 31.945 0 38.298v10.516C0 62.144 12.46 73.86 23.773 73.86c13.584 0 24.902-11.258 24.903-24.62 0 13.362 10.93 24.62 24.515 24.62 13.586 0 24.165-11.258 24.165-24.62 0 13.362 11.622 24.62 25.207 24.62h.246c13.586 0 25.208-11.258 25.208-24.62 0 13.362 10.58 24.62 24.164 24.62 13.585 0 24.515-11.258 24.515-24.62 0 13.362 11.32 24.62 24.903 24.62 11.313 0 23.773-11.714 23.773-25.046V38.298c-.2-6.354-21.287-30.58-31.988-36.933C180.118.197 157.056-.005 122.685 0c-34.37.003-81.228.54-90.697 1.365zm65.194 66.217a28.025 28.025 0 0 1-4.78 6.155c-5.128 5.014-12.157 8.122-19.906 8.122a28.482 28.482 0 0 1-19.948-8.126c-1.858-1.82-3.27-3.766-4.563-6.032l-.006.004c-1.292 2.27-3.092 4.215-4.954 6.037a28.5 28.5 0 0 1-19.948 8.12c-.934 0-1.906-.258-2.692-.528-1.092 11.372-1.553 22.24-1.716 30.164l-.002.045c-.02 4.024-.04 7.333-.06 11.93.21 23.86-2.363 77.334 10.52 90.473 19.964 4.655 56.7 6.775 93.555 6.788h.006c36.854-.013 73.59-2.133 93.554-6.788 12.883-13.14 10.31-66.614 10.52-90.474-.022-4.596-.04-7.905-.06-11.93l-.003-.045c-.162-7.926-.623-18.793-1.715-30.165-.786.27-1.757.528-2.692.528a28.5 28.5 0 0 1-19.948-8.12c-1.862-1.822-3.662-3.766-4.955-6.037l-.006-.004c-1.294 2.266-2.705 4.213-4.563 6.032a28.48 28.48 0 0 1-19.947 8.125c-7.748 0-14.778-3.11-19.906-8.123a28.025 28.025 0 0 1-4.78-6.155 27.99 27.99 0 0 1-4.736 6.155 28.49 28.49 0 0 1-19.95 8.124c-.27 0-.54-.012-.81-.02h-.007c-.27.008-.54.02-.813.02a28.49 28.49 0 0 1-19.95-8.123 27.992 27.992 0 0 1-4.736-6.155zm-20.486 26.49l-.002.01h.015c8.113.017 15.32 0 24.25 9.746 7.028-.737 14.372-1.105 21.722-1.094h.006c7.35-.01 14.694.357 21.723 1.094 8.93-9.747 16.137-9.73 24.25-9.746h.014l-.002-.01c3.833 0 19.166 0 29.85 30.007L210 165.244c8.504 30.624-2.723 31.373-16.727 31.4-20.768-.773-32.267-15.855-32.267-30.935-11.496 1.884-24.907 2.826-38.318 2.827h-.006c-13.412 0-26.823-.943-38.318-2.827 0 15.08-11.5 30.162-32.267 30.935-14.004-.027-25.23-.775-16.726-31.4L46.85 124.08C57.534 94.073 72.867 94.073 76.7 94.073zm45.985 23.582v.006c-.02.02-21.863 20.08-25.79 27.215l14.304-.573v12.474c0 .584 5.74.346 11.486.08h.006c5.744.266 11.485.504 11.485-.08v-12.474l14.304.573c-3.928-7.135-25.79-27.215-25.79-27.215v-.006l-.003.002z" color="#000" /></svg>*@
                    <svg xmlns="http://www.w3.org/2000/svg" height="68" width="75" viewBox="0 0 245.37069 220.73612" color="#000" fill="#fa5c5c"><path d="M31.99 1.365C21.287 7.72.2 31.945 0 38.298v10.516C0 62.144 12.46 73.86 23.773 73.86c13.584 0 24.902-11.258 24.903-24.62 0 13.362 10.93 24.62 24.515 24.62 13.586 0 24.165-11.258 24.165-24.62 0 13.362 11.622 24.62 25.207 24.62h.246c13.586 0 25.208-11.258 25.208-24.62 0 13.362 10.58 24.62 24.164 24.62 13.585 0 24.515-11.258 24.515-24.62 0 13.362 11.32 24.62 24.903 24.62 11.313 0 23.773-11.714 23.773-25.046V38.298c-.2-6.354-21.287-30.58-31.988-36.933C180.118.197 157.056-.005 122.685 0c-34.37.003-81.228.54-90.697 1.365zm65.194 66.217a28.025 28.025 0 0 1-4.78 6.155c-5.128 5.014-12.157 8.122-19.906 8.122a28.482 28.482 0 0 1-19.948-8.126c-1.858-1.82-3.27-3.766-4.563-6.032l-.006.004c-1.292 2.27-3.092 4.215-4.954 6.037a28.5 28.5 0 0 1-19.948 8.12c-.934 0-1.906-.258-2.692-.528-1.092 11.372-1.553 22.24-1.716 30.164l-.002.045c-.02 4.024-.04 7.333-.06 11.93.21 23.86-2.363 77.334 10.52 90.473 19.964 4.655 56.7 6.775 93.555 6.788h.006c36.854-.013 73.59-2.133 93.554-6.788 12.883-13.14 10.31-66.614 10.52-90.474-.022-4.596-.04-7.905-.06-11.93l-.003-.045c-.162-7.926-.623-18.793-1.715-30.165-.786.27-1.757.528-2.692.528a28.5 28.5 0 0 1-19.948-8.12c-1.862-1.822-3.662-3.766-4.955-6.037l-.006-.004c-1.294 2.266-2.705 4.213-4.563 6.032a28.48 28.48 0 0 1-19.947 8.125c-7.748 0-14.778-3.11-19.906-8.123a28.025 28.025 0 0 1-4.78-6.155 27.99 27.99 0 0 1-4.736 6.155 28.49 28.49 0 0 1-19.95 8.124c-.27 0-.54-.012-.81-.02h-.007c-.27.008-.54.02-.813.02a28.49 28.49 0 0 1-19.95-8.123 27.992 27.992 0 0 1-4.736-6.155zm-20.486 26.49l-.002.01h.015c8.113.017 15.32 0 24.25 9.746 7.028-.737 14.372-1.105 21.722-1.094h.006c7.35-.01 14.694.357 21.723 1.094 8.93-9.747 16.137-9.73 24.25-9.746h.014l-.002-.01c3.833 0 19.166 0 29.85 30.007L210 165.244c8.504 30.624-2.723 31.373-16.727 31.4-20.768-.773-32.267-15.855-32.267-30.935-11.496 1.884-24.907 2.826-38.318 2.827h-.006c-13.412 0-26.823-.943-38.318-2.827 0 15.08-11.5 30.162-32.267 30.935-14.004-.027-25.23-.775-16.726-31.4L46.85 124.08c10.684-30.007 26.017-30.007 29.85-30.007zm45.985 23.582v.006c-.02.02-21.863 20.08-25.79 27.215l14.304-.573v12.474c0 .584 5.74.346 11.486.08h.006c5.744.266 11.485.504 11.485-.08v-12.474l14.304.573c-3.928-7.135-25.79-27.215-25.79-27.215v-.006l-.003.002z" /></svg>
                </a>
            </div>
        </div>
    </div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-bed"></i>
            <h3>Rooms</h3>
            <p>We got comfy rooms of different sizes.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-utensils"></i>
            <h3>Meals</h3>
            <p>We provide the meals for breakfast and for dinner.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <i class="fas fa-camera-retro"></i>
            <h3>Jemeppe's Castle Tour</h3>
            <p>We give a tour through the castle to give some entertainment.</p>
        </div>
    </div>
    <hr class="my-4" style="background-color:lightgray;">
</div>*@
