@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Reset all Sizes */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .sizecontainer {
        width: 80%;
        margin: 0 auto;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/* NavBar */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 0px;
    position: relative;
}

nav li::before {
    content: '';
    display: block;
    height: 5px;
    background-color: darkgray;
    position: absolute;
    top: 20px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav li:hover::before {
    width: 100%;
}

nav a.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/*CSS to change the front page image*/
.humanoid-image {
    display: flex;
    flex: auto;
    opacity: 100%;
}

.top-body-part {
    background-image: url(../Assets/HumanoidBanner.png);
    height: 75vh;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.gamedesign-alinea {
    position: relative;
    background-color: black;
    opacity: 75%;
    width: 40%;
    height: 75%;
    left: 50%;
    top: 50%;
}

.game-design-h1 {
    margin-bottom: 0px;
}

/* Boemerang logo's */

.boemerang-logo-alinea {
    margin-top: 3%;
    width: 72px;
    height: 56px;
}

.boemerang-logo-navbar {
    width: 36px;
    height: 28px;
    margin-bottom: 15px;
}

/*nav a:hover {
    color: #000;
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}*/

/*html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}*/