@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('../Assets/Fonts/Avenir-LT-35-Light-Regular/Avenir-LT-35-Light-Regular.ttf');

:root {
    --shd: none;
    --portfoliobutton-background-color: white;
    --portfolio-alinea-header-text-size: 40px;
    --portfoliobutton-border-left-and-right-size: 10px;
    --portfoliobutton-border-top-and-bottom-size: 7px;
    --nav-transition-top-position: 25px;
}

/* Reset all Sizes */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 14px;
}

@media (max-width: 575px) {
    :root {
        --nav-transition-top-position: 18px;
    }
}

/*@media (min-width: 249px) {
    .contact-row-3 svg {
        width: 42px;
        height: 42px;
}*/

@media (min-width: 273px) {
    .contact-row-3 svg {
        width: 48px;
        height: 48px;
}

@media (min-width: 326px) {
    .contact-row-3 svg {
        width: 52px;
        height: 52px;
    }

    .gamedesign-alinea {
        width: 80%;
    }
}

@media (min-width: 339px) {
    .contact-row-3 svg {
        width: 58px;
        height: 58px;
    }
}

@media (min-width: 382px) {
    .gamedesign-alinea {
        width: 80%;
    }
}

@media (min-width: 531px) {
    .gamedesign-alinea {
        width: 70%;
    }
}

@media (min-width: 575px) {
    .gamedesign-alinea {
        width: 60%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .sizecontainer {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .gamedesign-alinea {
        width: 40%;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Avenir-LT-35-Light-Regular', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/* NavBar */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 0px;
    position: relative;
}

nav li::before {
    content: '';
    display: block;
    height: 5px;
    background-color: darkgray;
    position: absolute;
    top: var(--nav-transition-top-position);
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav li:hover::before {
    width: 100%;
}

nav a.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/*CSS to change the front page image*/
.humanoid-image {
    opacity: 100%;
}

.top-body-part {
    background-image: url(../Assets/Images/HumanoidBanner.png);
    height: 65vh;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.gamedesign-alinea {
    position: relative;
    background-color: black;
    color: #FFFFFF;
    opacity: 75%;
    height: 75%;
    left: 50%;
    top: 50%;
}

.gamedesign-alinea:hover {
    --portfolio-alinea-header-text-size: 45px;
    --portfoliobutton-border-left-and-right-size: 20px;
    --portfoliobutton-border-top-and-bottom-size: 11px;
}

.alinea-row-1 {
    margin-bottom: 2%;
    transition: all ease-in-out 700ms;
}

.alinea-row-2 {
    font-family: 'Playfair Display', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
    transition: all ease-in-out 700ms;
}

.alinea-row-3 {
    /*display: inline-block;
    max-width: 100%;*/
    word-wrap: inherit;
    word-break: break-word; /* This wraps the text so that it stays inside the div element */
}

.alinea-row-4 {
    display: flex;
    justify-content: center;
}

.portfolio-Button {
    box-sizing: border-box;
    width: max-content;
    text-decoration: none;
    opacity: 1;
    /*box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));*/
    background-color: var(--portfoliobutton-background-color);
    /*background-color: var(--corvid-background-color,rgba(var(--bg,var(--color_17)),var(--alpha-bg,1)));*/
    border: 1px solid var(--portfoliobutton-background-color);
    border-left: var(--portfoliobutton-border-left-and-right-size) solid var(--portfoliobutton-background-color);
    border-right: var(--portfoliobutton-border-left-and-right-size) solid var(--portfoliobutton-background-color);
    border-top: var(--portfoliobutton-border-top-and-bottom-size) solid var(--portfoliobutton-background-color);
    border-bottom: var(--portfoliobutton-border-top-and-bottom-size) solid var(--portfoliobutton-background-color);
    color: black;
    transition: background-color ease-in-out 250ms, border ease-in-out 250ms, border-left ease-in-out 250ms, border-right ease-in-out 250ms, border-top ease-in-out 250ms, border-bottom ease-in-out 250ms;
}

.portfolio-Button:hover {
    --portfoliobutton-background-color: #0d6efd;
    color: white;
    transition: all ease-in-out 500ms;
}

.game-design-h1 {
    margin-bottom: 0px;
    font-size: var(--portfolio-alinea-header-text-size);
    transition: font-size ease-in-out 250ms;
}

.white-text {
    color: #FFFFFF;
}

/* Boemerang logo's */
.boemerang-logo-alinea {
    margin-top: 3%;
    width: 72px;
    height: 56px;
    transition: all ease-in-out 250ms;
}

.boemerang-logo-navbar {
    width: 36px;
    height: 28px;
    margin-bottom: 15px;
}

/* Contact area on home page */

.contact a {
    text-decoration: none;
}

.contact-bg {
    background-color: rgb(30,30,30);
}

.contact-header-h1 {
    font-family: 'Playfair Display', 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 2%;
    opacity: 80%;
    transition: margin-bottom ease-in-out 700ms;
}

.contact-row-2 {
    text-decoration: none;
    margin-bottom: 2%;
    transition: margin-bottom ease-in-out 700ms;
}

.contact-row-3 {
    text-decoration: none;
    padding-bottom: 1%;
    transition: padding-bottom ease-in-out 700ms;
}

.contact-row-3 a {
    margin-left: 1%;
}

/*nav a:hover {
    color: #000;
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}*/